@import "components/components";
@import "responsive/responsive";

:root {
  --black-color: rgb(0, 0, 0);
  --color-gray: #26262652;
  --color-pink: #f27a9b;
  --color-green: #52d772;
  --color-circle: rgba(240, 248, 255, 0.411);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 1rem;
}

.hidden {
  opacity: 0;
  filter: blur(8px);
  transition: all 1s;
  transform: translateX(-100%);
}

.pag-escondida {
  display: none !important;
  filter: blur(8px);
  transition: all 2s;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0px);
  transition: all 2s;
  transform: translateX(0);
}

body {
  background-color: var(--black-color);
  font-family: "Inter", sans-serif;
  color: white;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 8vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 9rem;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);

    & div {
      font-weight: 500;
      color: var(--color-green);
      font-size: 1.8rem;
    }

    & .nav-list {
      display: flex;
      list-style: none;
      gap: 2.4rem;
      font-size: 1.6rem;
      cursor: pointer;

      & a {
        text-decoration: none;
        color: var(--color-pink);

        &:hover,
        :active {
          color: #52d772;
          border-bottom: 0.1rem solid #f27a9b;
          padding-bottom: 0.5rem;
          transition: 0.2s linear;
        }
      }
    }

    & #menu-btn {
      color: var(--color-pink);
      display: none;
      cursor: pointer;
    }
  }

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  & .titulo {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-green);
  }

  .cursor {
    color: var(--color-pink);
    font-weight: bold;
  }

  .about-me {
    padding: 0;

    & .container-about {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5.8rem;
    }

    & .cx-square {
      display: grid;
      grid-template-columns: repeat(3, 12rem);
      grid-template-rows: repeat(3, 12rem);
      gap: 0.5rem;
      padding: 1rem;
      height: 380px;
      width: 380px;
      position: relative;

      & .square {
        border-radius: 8px;
        width: 12rem;
        height: 12rem;

        &.one {
          border: 1px solid var(--color-pink);
          background-color: transparent;
        }

        &.two {
          background-color: #070707;
        }

        &.three {
          background: linear-gradient(
            53deg,
            #9f9f9fbf,
            #94909075,
            #000000cc,
            #010101d6
          );
          background-size: 705% 500%;
          animation: gradiente 11s ease infinite;
          animation-delay: 1s;
        }
        &.four {
          background-color: #070707;
        }

        &.five {
          background-color: transparent;
        }

        &.six {
          background-color: transparent;
        }

        &.seven {
          background: linear-gradient(
            218deg,
            #010101d6,
            #000000cc,
            #94909075,
            #9f9f9fbf
          );
          background-size: 705% 500%;
          animation: gradiente-inverso 13s ease infinite;
        }

        &.eigth {
          background-color: transparent;
        }

        &.nine {
          border: 1px solid var(--color-green);
          background-color: transparent;
        }
      }

      .img {
        position: absolute;
        top: 64.7%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 171px;
        object-fit: cover;
      }
    }

    & .cx-about-me {
      border: 1px solid #444444;
      border-radius: 0.8rem;
      display: flex;
      flex-flow: column;
      gap: 0.5rem;
      padding: 2rem;
      width: 49rem;

      & h2 {
        font-weight: 600;
        padding-bottom: 1.8rem;
        font-size: 1.8rem;
      }

      & p {
        font-size: 1.4rem;
      }
    }
  }

  .projetos {
    padding: 0;
    height: 128vh;
    padding: 0;
    margin-bottom: 26rem;

    & .container-projeto {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      gap: 6rem;

      & .title-projetos {
        font-size: 2.5rem;
        color: var(--color-green);
      }

      & .subtitulo-projetos {
        font-size: 10rem;
        font-weight: 700;
        letter-spacing: 7px;
        background: linear-gradient(
          to right,
          #161616 42%,
          #88888880 50%,
          #161616 56%
        );
        background-size: 305% 500%;
        background-position: center;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background-position 1.3s ease-in-out;

        &:hover {
          cursor: pointer;
          background-position: 200%;
        }
      }

      & .div-projetos {
        background-color: #26262652;
        width: 86rem;
        height: 44rem;
        border-radius: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        overflow: hidden;
        border: 0.1rem solid var(--color-pink);

        .carousel-wrapper {
          width: 71rem;
          height: 35rem;
          overflow: hidden;
          position: relative;
        }

        .carousel {
          height: 30rem;
          display: flex;
          height: 100%;
          width: 200%;
          transition: transform 0.5s ease-in-out;
        }

        & .seta-esquerda {
          opacity: 0;
        }

        & .seta-esquerda-ativa {
          cursor: pointer;
          opacity: 1;
        }

        & .seta-direita {
          opacity: 1;
        }

        & .seta-direita-show {
          opacity: 0;
        }

        & .info-projetos {
          display: flex;
          width: 71rem;
          height: 100%;
          gap: 6rem;
          position: relative;
          align-items: center;

          & .img-projeto {
            display: flex;
            justify-content: space-around;
            padding: 2rem 0rem;
            gap: 0rem;
            flex-flow: column;
            width: 17rem;
            height: 27rem;
            border: 1px solid var(--color-green);
            border-radius: 8px;

            & img {
              height: 85%;
              width: 100%;
              image-rendering: auto;
            }

            & .div-button {
              display: flex;
              padding: 1.2rem 1rem;
              gap: 2rem;
              justify-content: center;

              & .gitHub,
              .visitar {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: white;
                border: 1px solid var(--color-pink);
                border-radius: 0.3rem;
                padding: 0 0.6rem;
                background-color: #0d0d0d;
                transition: 202ms ease-in-out;

                &:hover,
                :active {
                  background-image: linear-gradient(180deg, #f27a9b, #52d772);
                  color: var(--black-color);
                }
              }
            }
          }

          & .descricao-projeto {
            display: flex;
            flex-flow: column;
            gap: 3rem;
            width: 40rem;
            justify-content: center;

            & .div-info {
              text-align: start;
              display: flex;
              flex-flow: column;
              gap: 2rem;

              & .titulo-projeto {
                font-size: 1.8rem;
                text-align: center;
              }

              & .texto-info-projeto {
                font-size: 1.4rem;
              }
            }

            & .logo-linguagens {
              display: flex;
              justify-content: center;
              gap: 1rem;
            }
          }

          &.pag-one {
            .pag-one {
              width: 100%;
              height: 200px;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              & .img-projeto {
                display: flex;
                justify-content: space-around;
                padding: 2rem 0rem;
                gap: 0rem;
                flex-flow: column;
                width: 14rem;
                border: 1px solid var(--color-green);
                border-radius: 8px;

                & img {
                  height: 85%;
                  width: 100%;
                  image-rendering: auto;
                }
              }
            }
          }

          &.pag-two {
            align-items: center;
            gap: 4rem;

            & .div-img-pag-two {
              width: 31rem;
              height: 20rem;
            }

            & .div-info-pag-two {
              width: 35rem;
            }

            & .veja-mais {
              & .circle {
                &.one {
                  background-color: var(--color-circle);
                }
                &.two {
                  background-color: white;
                }
              }
            }
          }

          &.pag-three {
            align-items: center;
            gap: 4rem;

            & .div-img-pag-three {
              width: 31rem;
              height: 20rem;
            }

            & .div-info-pag-three {
              width: 35rem;
            }

            & .veja-mais {
              & .circle {
                &.one,
                .two {
                  background-color: var(--color-circle);
                }
                &.three {
                  background-color: white;
                }
              }
            }
          }

          &.pag-four {
            align-items: center;
            gap: 4rem;

            & .div-img-pag-four {
              width: 31rem;
              height: 20rem;
            }

            & .div-info-pag-four {
              width: 35rem;
            }

            & .veja-mais {
              & .circle {
                &.one,
                .three {
                  background-color: var(--color-circle);
                }
                &.four {
                  background-color: white;
                }
              }
            }
          }
        }

        & .seta-direita {
          width: 3.5rem;
          cursor: pointer;
        }

        & .veja-mais {
          display: flex;
          gap: 0.2rem;
          margin-top: 34rem;
          position: absolute;
          margin-left: 34rem;

          & .circle {
            width: 0.8rem;
            height: 0.8rem;

            border-radius: 50%;
            background-color: rgba(240, 248, 255, 0.411);

            &.one {
              background-color: white;
            }
          }
        }
      }
    }
  }

  .container-rodape {
    background-color: var(--color-menu);
    display: flex;
    flex-flow: column;
    gap: 4rem;
    justify-content: center;
    height: 260px;
    padding: 3rem 9rem;

    & .agradecimento {
      display: flex;
      gap: 2rem;
      align-items: center;

      & h3 {
        font-size: 1.8rem;
      }
    }

    & .contato {
      display: flex;
      justify-content: space-between;

      & .div {
        display: flex;
        flex-flow: column;
        gap: 1rem;
        justify-content: center;
        font-size: 1.4rem;

        & .title {
          display: flex;
          gap: 1.5rem;
          align-items: center;
          font-size: 1.6rem;
          font-weight: 500;
        }

        & a {
          text-decoration: none;
          color: rgb(175, 174, 174);
          font-weight: 600;
        }
      }
    }
    & span {
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

@keyframes gradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradiente {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradiente-inverso {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
